* {
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}

body {
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}
.header {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}

.section--video {
  margin-bottom: -200px;
}

.section--dark {
  background-color: #42413c;
}

.section--light {
  background-color: #f5f4f0;
}

.section--brown {
  color: #fff;

  background-color: #b09a81;
}

.section--bg {
  position: relative;
}
.section--bg::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  margin: 0 auto;
}
.header__inner {
  position: relative;
  width: 100%;
}
.title-orange {
  color: #fe8a02;
}
.header__image {
  position: absolute;
  top: -45px;
  right: -270px;
  z-index: 1;

  height: 525px;
}
.header__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 185px;
}
.content--item + .content--item {
  margin-left: 30px;
}
.content--item {
  width: 50%;
}
.button {
  padding: 12px 24px;
  text-transform: uppercase;
  background-color: #fe8a02;
  border: none;
  margin-top: 30px;
}
.button a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.section {
  width: 100%;
  padding: 100px 0;
}
.definition {
  width: 100%;
  text-align: center;
}

.definition__title {
  margin-bottom: 30px;
}
.definition__subtitle {
  margin-bottom: 30px;
}
.definition__video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  width: 100%;
  margin-top: 100px;
}
.navigation__item {
  display: block;
  max-width: 350px;

  margin-bottom: 20px;
  padding: 24px;

  background-color: #f5f4f0;

  transition: background 0.1s linear, color 0.1s linear;
}
.navigation__item:first-child {
  padding: 0;

  background-color: #42413c;
}
.navigation__title {
  color: #fff;
  font-size: 52px;
}
.navigation__link {
  width: 100%;
  height: 100%;

  color: #42413c;

  text-decoration: none;
}
.item--number {
  padding-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}
.item--title {
  color: #fe8a02;
}
.item--content {
  margin-bottom: 0;

  color: #2a2626;
}
.clickable:hover {
  background-color: #fe8a02;
}
.clickable:hover .item--title,
.clickable:hover .item--number,
.clickable:hover .item--content {
  color: #fff;
}
